<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>additional_keywords</key>
	<string>{
  &quot;1220&quot;: [],
  &quot;1240&quot;: [],
  &quot;1250&quot;: [],
  &quot;1260&quot;: [],
  &quot;1280&quot;: [],
  &quot;1300&quot;: [],
  &quot;1400&quot;: [],
  &quot;1500&quot;: [],
  &quot;1600&quot;: [],
  &quot;1820&quot;: [],
  &quot;1840&quot;: [],
  &quot;2100&quot;: [],
  &quot;2200&quot;: [],
  &quot;2300&quot;: [],
  &quot;2500&quot;: [],
  &quot;2800&quot;: [],
  &quot;2820&quot;: [],
  &quot;2940&quot;: [],
  &quot;2960&quot;: [],
  &quot;3100&quot;: [],
  &quot;3300&quot;: [],
  &quot;3310&quot;: [],
  &quot;3400&quot;: [],
  &quot;3500&quot;: [],
  &quot;3600&quot;: [],
  &quot;3700&quot;: [],
  &quot;4100&quot;: [],
  &quot;4170&quot;: [],
  &quot;4250&quot;: [],
  &quot;4600&quot;: [&quot;עזריאלי&quot;, &quot;תל אביב&quot;, &quot;תא&quot;, &quot;קריית הממשלה&quot;],
  &quot;4640&quot;: [],
  &quot;4660&quot;: [],
  &quot;4680&quot;: [],
  &quot;4690&quot;: [],
  &quot;4800&quot;: [],
  &quot;4900&quot;: [],
  &quot;5000&quot;: [],
  &quot;5010&quot;: [],
  &quot;5150&quot;: [],
  &quot;5200&quot;: [],
  &quot;5300&quot;: [],
  &quot;5410&quot;: [],
  &quot;5800&quot;: [],
  &quot;5900&quot;: [],
  &quot;6150&quot;: [],
  &quot;6300&quot;: [],
  &quot;6500&quot;: [],
  &quot;6700&quot;: [],
  &quot;6900&quot;: [],
  &quot;7000&quot;: [],
  &quot;7300&quot;: [],
  &quot;7320&quot;: [],
  &quot;7500&quot;: [],
  &quot;8550&quot;: [],
  &quot;8600&quot;: [],
  &quot;8700&quot;: [],
  &quot;8800&quot;: [],
  &quot;9000&quot;: [],
  &quot;9100&quot;: [],
  &quot;9200&quot;: [],
  &quot;9600&quot;: [],
  &quot;9650&quot;: [],
  &quot;9700&quot;: [],
  &quot;9800&quot;: [],
  &quot;680,&quot;: [],
  &quot;400,&quot;: [],
  &quot;300,&quot;: [],
  &quot;700,&quot;: []
}</string>
</dict>
</plist>
